<!DOCTYPE html>
<html lang="en">
    <%-include('partials/encabezado.html');%>
<body>
<section>
    <form action="/formulario" method="post" >        
        <div><label >Num. Boleto:</label></div>
        <div><input type="number" id="numBoleto" name="numBoleto" class="form-control" required="true" ></div>
        <div><label >Destino:</label></div>
        <div><input type="text" id="destino" name="destino" class="form-control" required="true" ></div>
        <div><label >Cliente:</label></div>
        <div><input type="text" id="cliente" name="cliente" class="form-control" required="true"></div>
        <div><label >Edad:</label></div>
        <div><input type="number" id="edad" name="edad" class="form-control" required="true"></div>
        <div><label >Tipo de viaje:</label></div>
        <div><select name="tipoViaje" id="tipoViaje" class="form-select">
           <option value="1">Sencillo</option>
           <option value="2">Redondo</option>
       </select></div>
       <div><label >Precio:</label></div>
       <div> <input type="number" id="precio" name="precio" class="form-control" required="true" ></div>
    
    <center>
    <button class="btn btn-primary" style="margin-top: 15px;" type="submit">Enviar</button>
    <button class="btn btn-primary" style="margin-top: 15px;" type="reset" onclick="limpiarCampos()">Limpiar</button>
    </center>
    
    </form>
    <br>
    <br>
    <hr>

<%  
if(precio!=0){
    var subtotal=0;
    var impuesto=0;
    var descuento=0;
    var total=0;

    if(tipoViaje==1){
        subtotal=precio;
    }else if(tipoViaje==2){
        subtotal= Number(precio)+Number(precio*0.8);
    }
    impuesto=subtotal*0.16;
    if(edad>=60){
        descuento=(Number(subtotal)+Number(impuesto))*0.5;
    }else{
        descuento=0;
    }
    total=Number(subtotal)+Number(impuesto)-Number(descuento);
}
%>
<center>
<br>
<div><label>Subtotal:</label></div>
<div><input type="text" name="subtotal" id="subtotal" value="<%=subtotal%>" class="form-control" disabled></div>
<div><label>Impuesto 16%:</label></div>
<div><input type="text" name="impuesto" id="impuesto" value="<%=impuesto%>" class="form-control" disabled></div>
<div><label>Descuento:</label></div>
<div><input type="text" name="descuento" id="descuento" value="<%=descuento%>" class="form-control" disabled></div>
<div><label>Total a pagar:</label></div>
<div><input type="text" name="total" id="total" value="<%=total%>" class="form-control" disabled></div>
<br>
</center>
</section>
    <%-include('partials/piePagina.html');%>
</body>

</html>

<style>
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    text-align: justify;
}
header{
    padding: 60px;
    height: 10%;
    text-align: center;
    background: url(../img/portada.jpg);
}
input.form-control {
            width: 800px;
            text-align: center;
        }
h2{
    font-size: 45px;
    color: rgb(98, 72, 38);
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(255, 251, 251)
}
.row{
    display: flex;
    flex-wrap: wrap;
}
footer{
    padding: 0px;
    text-align: center;
    height: 100px;
    background-color: #d5bda2;
}
section{
    flex: 40%;
    padding: 10px;
    margin-left: 10%;
    font-size: 20px;
}

@media screen and (max-width: 710px){
    nav, .row{
        width: 50%;
        flex-direction: column;
    }
}
</style>