*{
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    font-size: 45px;
}
.container{
    line-height: 35px;
    background-color: black;
    color: white;
    padding: 20px;
}
.resumen{
    line-height: 40px;
    font-size: 23px;
}
img{
    height: 100px;
    width: 200px;
}
footer{
    font-size: 20px;
    color: white;
    background-color: red;
    padding: 15px;
}